@import "tailwindcss";

@layer base {
  :root {
    --bg: #f8fafc;
    --card: #ffffff;
    --primary: #0f172a;
    --accent: #38bdf8;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --border: #e2e8f0;
    --success: #22c55e;
  }

  body {
    background-color: var(--bg);
    color: var(--text-main);
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
